.sidebar {
  position: fixed;
  top: 60px;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 260px;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease, width 0.4s;
}

.sidebar header {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #555;
  border-bottom: 1px solid #ccc;
  height: auto;
}

.admin-container {
  display: flex;
  align-items: center;
}

.admin-icon {
  width: 75px;
  height: 75px;
}

.admin-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #555;
}

.user-management-container {
  display: flex;
  align-items: center;
  color: #555;
}

.member-icon {
  width: 75px;
  height: 75px;
}

.sidebar li button,
.sidebar li label {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  width: calc(100% - 20px);
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold; /* Match navbar design */
  line-height: auto;
  padding: 12px;
  color: #999999; /* Match navbar link color */
}

.sidebar input:not(:checked) ~ label:hover,
.sidebar button:hover {
    background-color: #363b3d; /* Match hover effect from navbar */
    color: white; /* Ensure text is visible */
    cursor: pointer; /* Indicate interactivity */
}

.user-deletion-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-deletion .modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}