.main-search-container-results {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 50px;
  margin-top: 100px;
  box-sizing: border-box;
}

.main-search-bar-results {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 700px;
  padding: 20px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.main-search-input-results {
  font-family: "Pretendard-SemiBold", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 10px;
  background: transparent;
  font-size: 14px;
  resize: none;
  min-width: 0;
  height: auto; 
  max-height: 5em; 
  overflow-y: auto; 
  white-space: pre-wrap;
}

.main-search-button-results {
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  transition: background 0.3s ease;
  margin-top: 5px;
}

.search-results-content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 70px;
  box-sizing: border-box;
}

.search-results-count p {
  font-family: "Pretendard-SemiBold", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: #555;
  font-size: 13px;
  margin-bottom: 20px;
}

.analysis-warning {
  background-color: #fff3cd;
  color: #856404;
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ffeeba;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.resume-box {
  display: flex;
  flex-direction: column; 
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 35px;
}

.resume-header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.profile-logo-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-details {
  flex-grow: 1;
  text-align: left;
}

.ai-analysis {
  font-family: "Pretendard-ExtraBold", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-size: 14px;
}

.resume-buttons {
  gap: 10px;
  display: flex;
}

.bookmark-button,
.details-button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  color: white;
}

.bookmark-button:hover,
.details-button:hover {
  background-color: #dddddd;
}

.search-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
}

.hidden-bar {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #fbf9f9;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 20px;
  overflow-y: auto;
  transform: translateX(100%); 
  transition: transform 0.3s ease; 
  z-index: 1000;
}

.hidden-bar.open {
  transform: translateX(0);
}

.hidden-bar-content {
  margin: 50px 0 20px 0;
  padding: 2px;
  overflow-y: auto;
}


.hidden-bar.open ~ .toggle-hidden-bar-button {
  right: 340px; 
}

.hidden-bar-resume-box {
  padding: 10px;
  color: #57676f;
  border: 2px solid #57676f;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.toggle-hidden-bar-button {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 8px;
  background-color: #ddd;
  color: white;
  border: none;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  height: 100px;
  z-index: 1000;
  transition: right 0.3s ease; 
}

.pdf-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  overflow: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.pdf-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}