.main-search-container-results {
  width: 100%;
  margin: 80px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 50px;
  box-sizing: border-box;
}

.search-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
}

.keywords-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center; /* 중앙 배열 */
  max-width: 700px;
  box-sizing: border-box;
}

.keyword {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

.search-results-content {
  width: 100%;
  max-width: 900px;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  box-sizing: border-box;
}

.resume-box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.resume-box {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.resume-details {
  text-align: center;
}

.ai-analysis {
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.resume-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.bookmark-button,
.details-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.bookmark-button {
  background-color: #007bff;
  border-radius: 8px;
  color: white;
}

.bookmark-button:hover {
  background-color: #0056b3;
}

.details-button {
  background-color: #28a745;
  border-radius: 8px;
  color: white;
}

.details-button:hover {
  background-color: #218838;
}

.hidden-bar {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: hsl(0, 0%, 12%);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 20px;
  overflow-y: auto;
  transform: translateX(100%);  /* 기본적으로 화면 밖으로 숨김 */
  transition: transform 0.3s ease;  /* 부드럽게 열림/닫힘 */
  z-index: 1000;
}

.hidden-bar.open {
  transform: translateX(0);
}


/* 숨겨진 바가 열렸을 때 토글 버튼의 위치 조정 */
.hidden-bar.open ~ .toggle-hidden-bar-button {
  right: 340px; /* 숨겨진 바의 너비만큼 이동 */
}

.hidden-bar-resume-box {
  padding: 10px;
  border: 2px solid #ccc;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.toggle-hidden-bar-button {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 8px;
  background-color: hsl(0, 0%, 12%);
  color: white;
  border: none;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  height: 100px;
  z-index: 1000;
  transition: right 0.3s ease; /*부드럽게 이동*/
}

.pdf-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  overflow: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.pdf-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}